body {
  font-family: sans-serif;
  margin: 2rem;
  background-color: rgb(35, 31, 32);
}
#app {
  max-width: 600px;
  margin: auto;
}

#app h1,
#app p {
  color: rgb(111, 199, 186);
}

form {
  display: flex;
  gap: 0.5rem;
}
input {
  flex: 1;
  padding: 0.5rem;
}
button {
  padding: 0.5rem 1rem;
  background-color: rgb(111, 199, 186);
  color: rgb(35, 31, 32);
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #fff;
  margin-top: 1rem;
  padding: 1rem;
  border-left: 4px solid #00c2ff;
}
#map {
  height: 400px;
  width: 100%;
  margin-bottom: 1em;
}

#kaspa-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  z-index: 1000;
}
